* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  background-color: #333;
  overflow: hidden;
}

.card {
  position: relative;
  margin: 2rem 4rem;
  width: 45rem;
  height: 70rem;
}

.img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.one {
  background-image: url(./images/forest-56930_1280.jpg);
  transition: 0.5s;
}

.two {
  background-image: url(./images/valley-4646114_1920.jpg);
  transition: 0.5s;
}

.three {
  background-image: url(./images/namibia-4965456_1920.jpg);
  transition: 0.5s;
}

/* text */

.text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 75%);
  border-radius: 20px;
  opacity: 0;
  transition: 0.5s;
}

h3 {
  font-size: 3rem;
  margin-top: 45rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.6rem;
}

/* FIRST CARD */

.text-one {
  transform: rotateX(-180deg);
}

.card:hover .text {
  transform: rotateX(0);
  opacity: 1;
}

.card:hover .one {
  transform: rotateX(180deg);
}

/* SECOND CARD */

.text-two {
  transform: rotateY(-180deg);
}

.card:hover .text {
  transform: rotateY(0);
  opacity: 1;
}

.card:hover .two {
  transform: rotateY(180deg);
}

/* THIRD CARD */

.card:hover .text-three {
  animation: down 1s;
}

.card:hover .three {
  animation: up 1s;
}

@keyframes down {
  0% {
    transform: translateY(0);

    z-index: -1;
  }

  50% {
    transform: translateY(60%);
    z-index: -1;
  }

  100% {
    z-index: 1;
  }
}

@keyframes up {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-60%);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
